In [6]:
#set up the environment, import libraries 
import pandas as pd
from glob import glob

### use FinancialPhraseBank-v1.0 data for model-training
    - import the data
    - clean the data (if necessary)
    - train and test multiple models

#####

### import the data

In [11]:
glob('*')

['main.ipynb',
 'train-00001-of-00002-50e0d6558d13575f.parquet',
 'train-00000-of-00002-a3f58f0eb179f9ed.parquet',
 'README.md',
 'FinancialPhraseBank-v1.0']

In [17]:
glob('FinancialPhraseBank-v1.0/*')

['FinancialPhraseBank-v1.0/Sentences_66Agree.txt',
 'FinancialPhraseBank-v1.0/Sentences_AllAgree.txt',
 'FinancialPhraseBank-v1.0/Sentences_50Agree.txt',
 'FinancialPhraseBank-v1.0/README.txt',
 'FinancialPhraseBank-v1.0/License.txt',
 'FinancialPhraseBank-v1.0/Sentences_75Agree.txt']

In [50]:
#use data that have 75% agreement among annotators
data_path = 'FinancialPhraseBank-v1.0/Sentences_75Agree.txt'

with open(data_path, 'r', encoding='utf-8', errors='backslashreplace') as f:
    lines = f.readlines()

In [51]:
lines[:10]

['According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .@neutral\n',
 'With the new production plant the company would increase its capacity to meet the expected increase in demand and would improve the use of raw materials and therefore increase the production profitability .@positive\n',
 "For the last quarter of 2010 , Componenta 's net sales doubled to EUR131m from EUR76m for the same period a year earlier , while it moved to a zero pre-tax profit from a pre-tax loss of EUR7m .@positive\n",
 'In the third quarter of 2010 , net sales increased by 5.2 % to EUR 205.5 mn , and operating profit by 34.9 % to EUR 23.5 mn .@positive\n',
 'Operating profit rose to EUR 13.1 mn from EUR 8.7 mn in the corresponding period in 2007 representing 7.7 % of net sales .@positive\n',
 'Operating profit totalled EUR 21.1 mn , up from EUR 18.6 mn in 2007 , representing 9.7 % of net sales .@positive\n',
 "TeliaSonera TLSN said the offer is in line with its strategy to increase its ownership in core business holdings and would strengthen Eesti Telekom 's offering to its customers .@positive\n",
 'STORA ENSO , NORSKE SKOG , M-REAL , UPM-KYMMENE Credit Suisse First Boston ( CFSB ) raised the fair value for shares in four of the largest Nordic forestry groups .@positive\n',
 'A purchase agreement for 7,200 tons of gasoline with delivery at the Hamina terminal , Finland , was signed with Neste Oil OYj at the average Platts index for this September plus eight US dollars per month .@positive\n',
 'Finnish Talentum reports its operating profit increased to EUR 20.5 mn in 2005 from EUR 9.3 mn in 2004 , and net sales totaled EUR 103.3 mn , up from EUR 96.4 mn .@positive\n']

#####

### clean the data

In [99]:
def break_lines(data_list = list):
    return [line.split('@') for line in data_list]

def data_wrangle(data_list = list):

    #break up lines list into a list of lists
    #each list contains two elements: string of the sentence and its sentiment label
    ll = break_lines(data_list)    
    
    #pass data into a dataframe
    df = pd.DataFrame(ll, columns = ['phrase','sentiment'])
    
    #clean up by column
    df.sentiment = df.sentiment.apply(lambda x: x[:-1])
    
    return df

In [106]:
df = data_wrangle(lines)
df.head()

                                              phrase sentiment
0  According to Gran , the company has no plans t...   neutral
1  With the new production plant the company woul...  positive
2  For the last quarter of 2010 , Componenta 's n...  positive
3  In the third quarter of 2010 , net sales incre...  positive
4  Operating profit rose to EUR 13.1 mn from EUR ...  positive

In [ ]:
#split up the data into train and test sets
def data_split():
    pass

#train and test model_1
def model_1():
    pass

#train and test model_2
def model_2():
    pass

#train and test model_3
def model_3():
    pass

#compare results

In [ ]:
'''
get sentiment prediction about a stock from historical financial news
    - import the data
    - clean the data
    - feed the data to the best model and receive timeseries-sentiment predictions
'''

#import the data

#clean the data
def data_wrangle_fn():
    pass

#feed data and get predictions

In [ ]:
'''
plot timeseries data
    - set up API 
    - clean up data 
    - plot timeseries data and sentiment predictions in the same plot
'''

#set up API

#clean the data
def data_wrangle_ts():
    pass

#plot the data
def plot():
    pass

In [32]:
df = pd.read_parquet('train-00000-of-00002-a3f58f0eb179f9ed.parquet', engine='pyarrow')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153121 entries, 0 to 153120
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   153121 non-null  object
 1   text    153121 non-null  object
 2   url     153121 non-null  object
dtypes: object(3)
memory usage: 3.5+ MB